@charset "uff-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #666;
}

ul,
li {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

#wrapper {
    width: 100%;
}

/* default 끝 */

header {
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 100;
}

.inner_header {
    width: 1340px;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;

}

h1.logo {
    width: 250px;
    height: 100%;
    padding: 12px 0;

}

h1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav {
    width: 800px;
    position: absolute;
    top: 60px;
    left: 800px;
    letter-spacing: .1rem;
    font-size: 18px;
    z-index: 1000;
}

nav>ul {
    display: flex;
}

.main>a {
    width: 200px;
    height: 40px;
    background-color: #0a9b97;
    color: #fff;
    text-align: center;
    padding: 8px 10px;
    font-weight: 700;

}

.sub>li>a {
    width: 200px;
    height: 40px;
    /* background-color: #0a9b97; */
    color: #fff;
    text-align: center;
    padding: 8px 10px;
}

.main>a:hover,
.sub>li>a:hover {
    background-color: #f04467;
}

.bg {
    width: 100%;
    height: 200px;
    background-color: #33333396;
    display: none;
    z-index: 50;
}

.sub {
    display: none;
}

/* 헤더 끝 */

#visual {
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.slideWrap {
    display: flex;
    width: 400%;
    height: 100%;
}

.slider {
    width: calc(100% / 3);
    height: 100%;
    position: relative;
}

.slider h2 {
    position: absolute;
    top: 30%;
    left: 40%;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    letter-spacing: .1rem;
}

.slider h2 a {
    display: inline-block;
    width: fit-content;
    height: 50px;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: rgba(240, 68, 102, 0.9);
}

.s2 h2,
.s3 h2 {
    text-shadow: 5px 3px 5px black;
}

.s2 h2 a,
.s3 h2 a {
    text-shadow: none;
}



/* .s3 h2 {
    color: #666;
} */

.s1 {
    background: url(../img/s1.jpg)no-repeat center/cover;
}

.s2 {
    background: url(../img/s2.jpg)no-repeat center/cover;
}

.s3 {
    background: url(../img/s3.jpg)no-repeat center/cover;
}

/* 슬라이드이미지 끝 */

#box {
    width: 1340px;
    height: 200px;
    margin: 0 auto;
    background-color: #eee;
    position: relative;
}

.link {
    width: 100%;
    height: 100px;
    position: absolute;
    top: -100px;
    background-color: rgba(10, 155, 150, 0.9);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link_box img {
    width: 40%;
    object-fit: contain;
}

.link_box p a {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: .2rem;
}

.banner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ban_img {
    width: 20%;
    height: 80%;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ban_txt {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.arrow {
    width: 15%;
    height: 80%;
}

.arrow img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* 배너 링크 끝 */

#contents {
    width: 1340px;
    height: 250px;
    margin: 10px auto;
    overflow: hidden;
}

.tabmenu {
    display: flex;
}

.tabmenu>p {
    width: 150px;
    height: 50px;
    background-color: #eee;
    text-align: center;
    padding: 12px 10px;
    font-size: 18px;
    letter-spacing: .1rem;
}

p.on {
    background-color: #0a9b97;
    color: #fff;
    font-weight: 700;
}

.con {
    width: 100%;
    height: 200px;
    background-color: #0a9b97;
    color: #fff;
    padding: 10px;
}

.notice>ul>li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery p {
    width: 30%;
    height: 80%;
}

.gallery p a {
    width: 100%;
    height: 100%;
    text-align: center;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* 탭메뉴 끝 */

footer {
    width: 1340px;
    height: 120px;
    margin: 0 auto;
    background-color: #666;
    color: #999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.fcon {
    width: 60%;

}

.fmenu ul {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

/* 푸터 끝 */


.popup {
    display: none;
}

.popup_box {
    width: 400px;
    height: 700px;
    border-radius: 10px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 10%;
    left: 30%;
}

.popup_box img {
    width: 80%;
    object-fit: contain;
}

button {
    width: fit-content;
    height: 30px;
    border-radius: 5px;
    border-style: none;
    padding: 5px 20px;
    background-color: #999;

}