* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #333;
}

ul,
li {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    vertical-align: top;
}

button {
    cursor: pointer;
}

#wrapper {
    width: 100%;
}

/* default 끝 */
#inner_wrapper {
    display: flex;
}

header {
    width: 200px;
    height: 650px;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

nav {
    height: 160px;
}

.main>a {
    width: 150px;
    height: 40px;
    border-bottom: 1px solid burlywood;
    padding: 8px 15px;
    text-align: center;
    font-weight: 600;
}

.sub {
    display: none;
}

.sub>li>a {
    width: 150px;
    height: 40px;
    background-color: beige;
    text-align: center;
    padding: 8px 15px;
}

.main:hover>a {
    background-color: burlywood;
    color: #fff;
}

.sub>li>a:hover {
    background-color: burlywood;
    color: #fff;
}

/* 헤더 끝 */

#con_wrapper {
    width: calc(100% - 200px)
}

#main_content {
    width: 100%;
    display: flex;

}

.visual {
    width: calc(100% - 230px);
    height: 400px;
    overflow: hidden;
}

.slideWrap {
    width: 400%;
    height: 100%;
    display: flex;
}

.slider {
    width: calc(100% - 230px);
    height: 400px;
    position: relative;
}

.s_txt {
    position: absolute;
    top: 15%;
    left: 25%;
}

.s_txt>h2 {
    width: fit-content;
    height: 60px;
    border-radius: 40px;
    padding: 14px 20px;
    background-color: rgba(222, 184, 135, 0.868);
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1.2px;
    margin-bottom: 10px;
}

.s_txt p {
    font-size: 22px;
    font-weight: 600;
}

.s1 {
    background: url(../img/img1.jpg) no-repeat center/cover;
}

.s2 {
    background: url(../img/img2.jpg) no-repeat center/cover;
}

.s3 {
    background: url(../img/img3.jpg) no-repeat center/cover;
}

/* 슬라이드 이미지 끝 */

.banner {
    width: 230px;
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner>a {
    width: 100%;
    height: 50%;
}

.banner>a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ban_txt {
    width: 100%;
    height: 30%;
}

.direct {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.direct p {
    width: 50%;
    font-size: 22px;

}

.direct>a {
    width: 50%;
}

.direct img {
    width: 80%;
    height: 80%;

}

/* 메인 컨텐트 끝 */


#contents {
    width: 100%;
    height: 250px;
    display: flex;
    /* padding: 10px; */
}

.con {
    width: 50%;
    height: 230px;
    overflow: hidden;
    margin: 10px 0 0 10px;
}

.con_menu {
    width: 120px;
    height: 50px;
    background-color: blanchedalmond;
    text-align: center;
    padding: 15px 20px;
    border-radius: 0 30px 0 0;
}

.con>ul {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: blanchedalmond
        /* display: flex;
    flex-direction: column;
    justify-content: center */
}

.notice>ul>li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.gallery>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.gallery>ul>li {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px;
}

.gallery img {
    /* margin-bottom: 5px; */
    width: 60%;
    height: 60%;
    object-fit: cover;
}

/* 컨텐츠 끝 */

footer {
    width: 100%;
    height: 100px;
    background-color: #666;
    color: #999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

h4 {
    width: 15%;
    height: 100%;
}

h4>a {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0 10px;
}

h4>a>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cright {
    width: 50%;
}

#family {
    width: 15%;
}

/* 푸터 끝 */

.popup {
    display: none;
}

.popup_box {
    width: 350px;
    height: 300px;
    background-color: beige;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 30%;
}

button {
    width: fit-content;
    height: 30px;
    padding: 5px 10px;
    border-radius: 5px;
    border-style: none;
    font-size: 16px;
    background-color: blanchedalmond;
}