@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #666;
}

ul,
li {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    vertical-align: top;
}

button {
    cursor: pointer;
}

#wrapper {
    width: 100%;
}

/* default 끝 */

header {
    width: 1340px;
    height: 100px;
    background-color: darkcyan;
    margin: 0 auto;
    position: relative;
    z-index: 100;
}

h1.logo {
    width: 20%;
    height: 80%;
    padding: 10px;
}

h1>a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav {
    width: 800px;
    letter-spacing: 0.1rem;
}

nav>ul {
    display: flex;
    position: absolute;
    top: 60px;
    right: 10px
}

.main>a {
    width: 200px;
    height: 40px;
    background-color: burlywood;
    text-align: center;
    padding: 8px 10px;
    font-weight: 600;
}

.sub {
    display: none;
}

.sub>li>a {
    width: 200px;
    height: 40px;
    background-color: burlywood;
    text-align: center;
    padding: 8px 10px;
}

.main>a:hover {
    background-color: darkblue;
    color: #fff;
}

.sub>li>a:hover {
    background-color: darkblue;
    color: #fff;
}

/* 헤더 끝 */

#visual {
    width: 100vw;
    height: 350px;
    overflow: hidden;
    z-index: 0;
}

.slideWrap {
    display: flex;
    width: 300%;
    height: 100%;
}

.slider {
    width: 100vw;
    height: 100%;
    position: relative;

}

.slider h2 {
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: 22px;
}

.slider h2 a {
    display: inline-block;
    width: fit-content;
    height: 50px;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 139, 0.756);
    color: #fff;
}

.s1 {
    background: url(../img/s1.jpg)no-repeat center/cover;
    display: block;
}

.s2 {
    background: url(../img/s2.jpg)no-repeat center/cover;
    display: none;
}

.s3 {
    background: url(../img/s3.jpg)no-repeat center/cover;
    display: none;
}

/* 슬라이드 이미지 끝 */

#box {
    width: 1340px;
    height: 200px;
    margin: 0 auto;
    position: relative;
}

.link {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 139, 139, 0.745);
    color: #fff;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: -100px;
}

.link>p {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.link>p>a {
    width: 70%;
    height: 70%;
    text-align: center;
}

.link img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.banner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 139, 139, 0.082);
}

.banner>a {
    width: 35%;
    height: 80%;
}

.banner>a.ban_img>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.ban_txt {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.arrow {
    width: 15%;
    height: 80%
}

.arrow img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* 배너 끝 */

#contents {
    width: 1340px;
    height: 250px;
    margin: 0 auto;
    overflow: hidden;
}

.tab_menu {
    display: flex;
}

.tab_menu>p {
    width: 150px;
    height: 50px;
    background-color: #eee;
    padding: 14px 30px;
    letter-spacing: 0.2rem;
}

p.on {
    background-color: darkblue;
    color: #fff;
    font-weight: 700;
}

.con {
    width: 100%;
    height: 200px;
    background-color: darkblue;
    color: #fff;
}

.notice>ul {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.notice>ul>li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery>p {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.gallery>p>a {
    width: 60%;
    height: 60%;
    text-align: center;
}

.gallery>p>a>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* 컨텐츠 끝 */

footer {
    width: 1340px;
    height: 120px;
    margin: 0 auto;
    background-color: #333;
    color: #999;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

h4 {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

h4>a>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fcon {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.fmenu>ul {
    width: 100%;
    height: 50%;
    display: flex;
    gap: 5px;

}

.cright {
    width: 100%;
    height: 50%;
}


/* 푸터 끝 */


.popup {
    display: none;
}

.popup_box {
    width: 400px;
    height: 700px;
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 15%;
    left: 20%;
}

button {
    font-size: 16px;
    width: fit-content;
    height: 30px;
    padding: 2px 10px;
}